.navigation{
    display: flex;
    padding: 2%;
}
.navigation span{
    color: #D31B27;
    font-weight: bold;
    font-size: xx-large;
}
nav ul{
    display: flex;    
}
nav a{
    text-decoration: none;
    border: 1px solid #2A2827;
    color: white;
    background-color:#2A2827;
    /* padding: 1%; */
    border-radius: 10px;
    font-weight: bold;
    font-size: x-large;
    
}
.navbar{
    margin-left: 30%;
}
.navbutton button{ 
    margin-left: 0%;
    /* padding: 30%; */
    background-color: #D31B27;
}
.top-page{
    background-image: url('../imgs/img1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
    height: 100vh;
    text-align: center;
}
.top-text{
    color: white;
    padding-top: 20%;

}
.top-text h1 {
    padding: 10px;
    font-weight: bold;
  }
